In [2]:
import org.apache.spark.sql.SparkSession

import org.apache.spark.sql.SparkSession

In [8]:
val spark = SparkSession.builder().appName("Spark").getOrCreate()
val sc = spark.sparkContext

spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@712b0923
sc: org.apache.spark.SparkContext = org.apache.spark.SparkContext@3793a50d

In [9]:
spark.catalog.listTables.show //Show List table name

+----+--------+-----------+---------+-----------+
|name|database|description|tableType|isTemporary|
+----+--------+-----------+---------+-----------+
+----+--------+-----------+---------+-----------+

In [10]:
val movies = spark.read.parquet("C:\\DataScience\\Data_Sample\\Spark\\chapter3\\data\\movies\\movies.parquet")

movies: org.apache.spark.sql.DataFrame = [actor_name: string, movie_title: string ... 1 more field]

In [11]:
movies.createOrReplaceTempView("movies")

In [12]:
spark.catalog.listTables.show

+------+--------+-----------+---------+-----------+
|  name|database|description|tableType|isTemporary|
+------+--------+-----------+---------+-----------+
|movies|    null|       null|TEMPORARY|       true|
+------+--------+-----------+---------+-----------+

In [13]:
spark.catalog.listColumns("movies").show //show list columns in table

+-------------+-----------+--------+--------+-----------+--------+
|         name|description|dataType|nullable|isPartition|isBucket|
+-------------+-----------+--------+--------+-----------+--------+
|   actor_name|       null|  string|    true|      false|   false|
|  movie_title|       null|  string|    true|      false|   false|
|produced_year|       null|  bigint|    true|      false|   false|
+-------------+-----------+--------+--------+-----------+--------+

In [14]:
movies.createOrReplaceGlobalTempView("movies_g")

In [16]:
spark.newSession().sql("SELECT * FROM global_temp.movies_g").show()

+-----------------+--------------------+-------------+
|       actor_name|         movie_title|produced_year|
+-----------------+--------------------+-------------+
|McClure, Marc (I)|        Coach Carter|         2005|
|McClure, Marc (I)|         Superman II|         1980|
|McClure, Marc (I)|           Apollo 13|         1995|
|McClure, Marc (I)|            Superman|         1978|
|McClure, Marc (I)|  Back to the Future|         1985|
|McClure, Marc (I)|Back to the Futur...|         1990|
|Cooper, Chris (I)|  Me, Myself & Irene|         2000|
|Cooper, Chris (I)|         October Sky|         1999|
|Cooper, Chris (I)|              Capote|         2005|
|Cooper, Chris (I)|The Bourne Supremacy|         2004|
|Cooper, Chris (I)|         The Patriot|         2000|
|Cooper, Chris (I)|            The Town|         2010|
|Cooper, Chris (I)|          Seabiscuit|         2003|
|Cooper, Chris (I)|      A Time to Kill|         1996|
|Cooper, Chris (I)|Where the Wild Th...|         2009|
|Cooper, Chris (I)|         The Muppets|         2011|
|Cooper, Chris (I)|     American Beauty|         1999|
|Cooper, Chris (I)|             Syriana|         2005|
|Cooper, Chris (I)| The Horse Whisperer|         1998|
|Cooper, Chris (I)|             Jarhead|         2005|
+-----------------+--------------------+-------------+
only showing top 20 rows

In [26]:
spark.sql("""
select * from global_temp.movies_g where actor_name like '%Jolie%' and produced_year > 2009
""").show()

+---------------+---------------+-------------+
|     actor_name|    movie_title|produced_year|
+---------------+---------------+-------------+
|Jolie, Angelina|           Salt|         2010|
|Jolie, Angelina|Kung Fu Panda 2|         2011|
|Jolie, Angelina|    The Tourist|         2010|
+---------------+---------------+-------------+

In [29]:
spark.sql("""
select actor_name, count(*) as count from global_temp.movies_g 
group by actor_name
""").where('count >30).orderBy('count.desc).show()

+------------------+-----+
|        actor_name|count|
+------------------+-----+
|  Tatasciore, Fred|   38|
|     Welker, Frank|   38|
|Jackson, Samuel L.|   32|
|     Harnell, Jess|   31|
+------------------+-----+

In [30]:
spark.sql("""
select produced_year, count(*) as count
from(select distinct movie_title, produced_year from global_temp.movies_g)
group by produced_year
""").orderBy('count.desc).show()

+-------------+-----+
|produced_year|count|
+-------------+-----+
|         2011|   86|
|         2004|   86|
|         2006|   86|
|         2005|   85|
|         2008|   82|
|         2002|   81|
|         2010|   78|
|         2000|   77|
|         2003|   76|
|         2007|   75|
|         2001|   71|
|         2009|   68|
|         1999|   67|
|         1997|   66|
|         1998|   59|
|         1996|   42|
|         2012|   32|
|         1995|   25|
|         1986|   16|
|         1994|   16|
+-------------+-----+
only showing top 20 rows

In [32]:
spark.sql("""
select * from parquet. 'C:\\DataScience\\Data_Sample\\Spark\\chapter3\\data\\movies\\movies.parquet'
""").show(3)